@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

:root {
	font-family: "Livvic", system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #f6cdcdde;
	background-color: #1d0e0e;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

nav {
	z-index: 5;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	color: rgb(192, 235, 127);
	font-family: "Josefin Slab";
	margin: 1rem;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.25rem 0.5rem;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #f6cdcdde;
	color: #481b1b;
	cursor: pointer;
	transition: all 0.25s;
}
button:hover {
	border-color: #f6cdcdde;
	background-color: #1d0e0e;
	color: #f6cdcdde;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

button:active {
	background-color: rgb(192, 235, 127);
	color: #481b1b;
}

hr {
	color: #f6cdcdde;
}

h3 {
	margin: 0;
}

h2 span {
	font-weight: 400;
	font-style: italic;
}
